@import "tailwindcss";
:root {
  --color-background: #13161B;
  --color-primary: #E3FF00;
  --color-white: #FFFFFF;
}

@layer utilities {
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
}

body {
  background-color: var(--color-background);
  color: var(--color-white);
}
@layer base {
  body {
    overflow: hidden;
  }
}
